.profile-header {
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-left: auto;

    gap: 30px;
    width: 70%;
}

.profile-header img {
    width: 80px;
    height: 80px;
}