{% extends 'base.html' %}

{% block title %}
Home 
{{ super() }}    
{% endblock title %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}">
    <script type="module" src="{{ url_for('static', filename='scripts/upload.js') }}" defer></script>
{% endblock %}

{% block content %}
    <main>
        <form method="post" class="new-post">
            <input type="text" name="caption" id="caption" class="caption" placeholder="Enter Audio Caption" required>
            <div>
                <input type="file" name="audio-file" id="audio-file" class="audio-file" accept=".mp3, .wav" placeholder="Upload" required>
                <input type="submit" class="post-button button" value="Post">
            </div>
        </form>
        <hr>
    {% if feed %}
        {% for post in feed %}
        <article class="post">
            <div class="post-text">
                <img src="{{ url_for('static', filename='assets/profile.png') }}" alt="Profile" class="profile-image">
                <div>
                    <p><span class="full-name">{{ post.user.fullname }}</span> <span>{{ post.user.username }}</span></p>
                    <p>{{ post.caption }}</p>
                </div>
            </div>
            <div class="controls">
                <button class="comments"><span class="fa fa-comment"></span></button>
                <button class="play" data-audio="{{post.id}}" onclick="action(this);"><span class="fa fa-play"><span style="padding: 2px;">{{ post.plays|length }}</span></span></button>
                <button class="like" data-post="{{ post.id }}"> <span class="fa fa-heart"><span style="padding: 2px;">{{ post.likes|length }}</span></span></button>
                <button class="share"> <span class="fa fa-share"></span></button>
            </div>
        </article>
        <hr>
        {% endfor %}
    {% else %}
        <article class="post post-text">You are up to date</article>
    {% endif %}
    </main>
{% endblock %}