{% extends 'register.html' %}

{% block form %}
<form action="" method="post">
    <h3>Login</h3>
        {% if message %}
            <div class="alert"> {{ message }} </div>
        {% endif %}
    <input type="email" name="email" id="email" placeholder="Your email Address" required>
    <input type="password" name="password" id="password" placeholder="Enter Password" required>

    <input class="submit-button" type="submit" value="Login">
</form>
<br>
<br>
<br>
<button id="registerButton" class="register-button">Create a new account</button>

	<script>
		document.getElementById("registerButton").addEventListener("click", function() {

			window.location.href = "http://127.0.0.1:5000/register";
			});
	</script>
{% endblock %}
