{% extends 'base.html' %}

{% block title %}
{% if title %}
    {{ title }}
{% else %}
    Profile
{% endif %}
{{ super() }}    
{% endblock title %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
    <main>
        <article class="profile-header">
            <img src="{{ url_for('static', filename='assets/profile.png') }}" alt="Profile" class="profile-image">
            <div>
                <p><span class="full-name">{{ user.fullname }}</span> <span>{{ user.username}}</span></p>
                <p>{{ user.bio }}</p>
                <div>
                    <div></div>
                    <p>{{ user.followers|length }} followers</p>
                </div>
            </div>
        </article>
        <hr>
        {% if user.posts %}
        {% for post in user.posts %}
        <article class="post">
            <div class="post-text">
                <img src="{{ url_for('static', filename='assets/profile.png') }}" alt="Profile" class="profile-image">
                <div>
                    <p><span class="full-name">{{ user.fullname }}</span> <span>{{ user.username }}</span></p>
                    <p>{{ post.caption }}</p>
                </div>
            </div>
            <div class="controls">
                <button class="comments"><span class="fa fa-comment"></span></button>
                <button class="play" data-audio="{{post.id}}" onclick="action(this);"><span class="fa fa-play"><span style="padding: 2px;">{{ post.plays|length }}</span></span></button>
                <button class="like" data-post="{{ post.id }}"> <span class="fa fa-heart"><span style="padding: 2px;">{{ post.likes|length }}</span></span></button>
                <button class="share"> <span class="fa fa-share"></span></button>
            </div>
        </article>
        <hr>
        {% endfor %}
        {% else %}
        <h2 class="post">No posts yet </h2>
        {% endif %}

    </main>
{% endblock %}