{% extends 'base.html' %}

{% block title %}
{{ title }}
{{ super() }}    
{% endblock title %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">
{% endblock %}

{% block navBar %}

{% endblock navBar %}

{% block content %}

<main>
    <article class="hero">
        <h2 id="welcomeTitle">Welcome to PodShare <br> Share your voice.</h2>
        <br><br>
        <p id="welcomeMessage">A vibrant community where audio becomes a canvas for your creativity. Dive into a world where every sound
            carries a story, every note is a glimpse into someone's thoughts, and avery caption adds depth to the
            experience</p>
    </article>
    <article class="form">
        {% block form %}
        <form action="" method="post">
            <h3>Register</h3>

            {% if message %}
                <div class="alert"> {{ message }} </div>
            {% endif %}

            <input type="text" name="fullname" id="fullname" placeholder="Full Name" required>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="email" name="email" id="email" placeholder="Your email Address" required>
            <input type="password" name="password" id="password" placeholder="Pick a Password" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your Password" required>
            <input class="submit-button" type="submit" value="Register">
        </form>
            
        {% endblock form %}
    </article>
</main>

{% endblock content %}
